$primary: #ab97f3;
$secondary: #ff5454;
$secondary-dark: #df4545;
$neutral: #fff;
$neutral-light: #f3f3f3;
$neutral-dark: #666;

$bg-neutral: #eaf1fe;
$bg-primary-one: #fff0a5;
$bg-primary-two: #d6f5ff;
$bg-primary-three: #ffddf0;
$bg-primary-four: #c1fff4;
$bg-secondary: #fff8d5;

$font-primary: #000;
$font-secondary: #7a7a7a;

$shadow-neutral: #0000001a;
$border-neutral: #f2eeee;
$border-primary: #000;