/* Colors */

$bgc-primary: #ab97f3;
$bgc-secondary: #ff5454;
$bgc-secondary-dark: #df4545;
$bgc-neutral: #fff;
$bgc-neutral-light: #f3f3f3;
$bgc-neutral-dark: #666;

$bgc-main: #eaf1fe;
$bgc-extra-one: #fff0a5;
$bgc-extra-two: #d6f5ff;
$bgc-extra-three: #ffddf0;
$bgc-extra-four: #c1fff4;
$bgc-secondary: #fff8d5;

$fc-primary: #000;
$fc-secondary: #7a7a7a;

$shadow-neutral: #0000001a;
$border-neutral: #f2eeee;
$border-primary: #000;

/* Font-weight */

$fw-capture: 500;
$fw-text: 600;
$fw-subtitle: 700;
$fw-title: 800;
