@import "nullstyle";

body {
  background-color: #eaf1fe;
  color: #000;
  font-family: 'Inter', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
hr {
  margin: 0;
}

/* Common */

.action-btn {
  background-color: #f3f3f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  border-radius: 15px;
  height: 50px;
  min-width: 50px;
  transition: .5s;

  &:hover {
    background-color: #ab97f3;
  }
}

.title-section {
  align-items: center;
  column-gap: 30px;
  display: flex;

  &__title {
    font-size: 24px;
    font-weight: 800;
  }

  &__btn {
    background-color: #fff;
    background-image: url(../assets/icons/filters.png);
    background-position: center;
    background-size: 100%;
    border: none;
    height: 28px;
    transition: .5s;
    width: 28px;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

/* Page */

.page-big {
  column-gap: 20px;
  display: flex;
  margin: 0 20px;
}

/* Header */

.header-big {
  flex: 1;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
}

.header-small {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Navig */

.navig {
  &-big {
    height: 100%;
    padding: 20px 0;
  }

  &-small {
    background-color: #f3f3f3 !important;
  }

  &-logo {
    font-weight: 600;
  }

  &-logo__img {
    height: 24px;
  }

  &-btn {
    border: none;
    color: transparent;
  }

  &-btn__icon {
    background-image: url(../assets/icons/burger.png);
  }
}

.modal-backdrop {
  --bs-backdrop-zindex: 1;
}

.navig-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  &-img {
    background-color: #fff;
    border-radius: 15px;
    padding: 8px;
    width: 80px;

    &__img {
      width: 100%;
    }
  }

  &-name {
    font-size: 14px;
    font-weight: 700;
  }
}

.menu-navig {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &-item {
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    height: 44px;
    transition: .5s;

    &-icon {
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      height: 44px;
      justify-content: center;
      width: 44px;

      &__img {
        height: 40%;
      }
    }

    &__title {
      color: #909090;
      flex: 1;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      transition: .5s;
    }

    &_active {
      background-color: #ff5454;

      & .menu-navig-item-icon {
        background-color: #df4545;
      }

      & .menu-navig-item__title {
        color: #fff
      }

      &:hover {
        background-color: #ff5454;
      }
    }

    &:hover {
      background-color: #ab97f3;

      .menu-navig-item__title {
        color: #fff;
      }
    }
  }
}

.navig-extra {
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 130px;
  position: relative;
  width: 100%;

  &-header {
    position: absolute;
    top: -130px;
    width: 100%;

    &__img {
      max-width: 200px;
    }
  }

  &-body {
    padding: 88px 20px 11px 26px;

    &__title {
      font-size: 18px;
      font-weight: 800;
    }
  }
}

.links {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 10px;
    font-weight: 700;
  }

  &__img {
    width: 50px;
  }
}

/* Content */

.content {
  background-color: #fff;
  border-radius: 35px;
  column-gap: 72px;
  display: flex;
  flex: 4;
  justify-content: space-between;
  margin: 20px 0;
  padding: 50px 60px;

  @media screen and (max-width: 1023px) {
    border-radius: 0;
    margin: 0;
    padding: 35px 45px;
  }

  @media screen and (max-width: 769px) {
    padding: 20px 30px;
  }

  @media screen and (max-width: 426px) {
    padding: 15px 20px;
  }
}

/* Shop */

.shop {
  width: 100%;

  &-title {
    display: flex;
    justify-content: space-between;

    &__title {
      --fz: calc((100vw - 320px)/(1440 - 320) * (48 - 30) + 30px);
      font-size: var(--fz);
      font-weight: 800;
      line-height: 65px;
      margin-bottom: var(--fz);
    }

    &__img {
      max-height: 1.4em;
      vertical-align: middle;
    }
  }
}

.search-field {
  column-gap: 10px;
  display: flex;
  justify-content: center;

  &__input {
    border-radius: 15px;
    height: 50px;
  }

  &__btn {
    background-image: url(../assets/icons/search.png);

    @media screen and (max-width: 685px) {
      display: none;
    }

    &:hover {
      background-image: url(../assets/icons/search-hover.png);
    }
  }
}

/* Shop cats */

.shop-cats {
  column-gap: 15px;
  display: flex;
  margin-bottom: 24px;
  padding-bottom: 20px;

  @media screen and (max-width: 685px) {
    overflow: auto;
  }
}

.item-cats {
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  row-gap: 20px;
  text-decoration: none;
  transition: .5s;
  width: 100px;

  @media screen and (max-width: 685px) {
    height: unset;
    min-width: 100px;
    padding: 5px 0;
  }

  &_selected {
    background-color: #fff;
    box-shadow: 0px 4px 46px #0000001a;

    @media screen and (max-width: 685px) {
      border: 1px solid #000;
    }

    & .item-cats__title {
      color: #000;
      font-size: 18px;
    }
  }

  &__img {
    max-height: 60px;
    transition: .5s;

    @media screen and (max-width: 685px) {
      display: none;
    }
  }

  &__title {
    color: #585858;
    font-size: 14px;
    font-weight: 500;
    transition: .5s;
  }

  &_unselected:hover {
    background-color: #ab97f3;
    box-shadow: 0px 4px 46px #0000001a;

    & .item-cats__img {
      transform: scale(1.2);
    }

    & .item-cats__title {
      color: #fff;
    }
  }
}

/* Shop menu title */

.shop-menu-title {
  padding-bottom: 5px;
}

/* Menu */

.menu {
  column-gap: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    cursor: pointer;
    margin-top: 77px;
    min-width: 206px;
    position: relative;

    &-img {
      min-width: 100%;
      position: absolute;
      text-align: center;
      top: -60px;
      transition: .5s;

      &__img {
        width: 136px;
      }
    }

    &_selected {
      & .body-item {
        background-color: #f2eeee;
      }

      & .buy-item-btn {
        background-image: url(../assets/icons/check.png);

        &:hover {
          background-image: url(../assets/icons/check-hover.png);
          transform: rotate(180deg);
        }
      }
    }

    &:hover {
      & .menu-item-img {
        transform: scale(1.2);
      }

      & .body-item {
        box-shadow: 0px 4px 46px #0000001a;
      }
    }

    &_unselected:hover .buy-item-btn {
      background-image: url(../assets/icons/add-hover.png);
      transform: rotate(180deg);
    }
  }
}

.body-item {
  border: 2px solid #f2eeee;
  border-radius: 30px;
  padding: 56px 28px 12px;
  transition: .5s;

  &__title {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 8px;
  }

  &__text {
    color: #898686;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
  }
}

.buy-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__price {
    font-size: 18px;
    font-weight: 800;
  }

  &-btn {
    background-image: url(../assets/icons/add.png);
    background-position: center;
    background-size: 100%;
    border: none;
    border-radius: 100%;
    height: 30px;
    position: absolute;
    right: -18px;
    transition: .5s;
    width: 30px;
  }
}

/* Extra */

/* Extra basket */

.extra {
  @media screen and (max-width: 1350px) {
    display: none;
  }

  &-basket {
    padding-bottom: 45px;
    text-align: right;

    &__btn {
      background-color: #666;
      background-image: url(../assets/icons/basket.png);
      position: relative;
    }
  }
}

/* Extra discount */

.discount {
  cursor: pointer;
  margin-top: 63px;
  padding-bottom: 30px;
  position: relative;
  width: 259px;

  &-header {
    position: absolute;
    text-align: center;
    top: -63px;
    width: 259px;

    &__img {
      transition: .5s;
      width: 100%;
    }
  }

  &-body {
    background-color: #ab97f3;
    border-radius: 30px;
    padding: 77px 22px 31px;

    &__title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &:hover .discount-header__img {
    transform: scale(1.1) rotate(5deg);
  }
}

/* Extra articles */

.articles {
  &-title {
    cursor: pointer;
    justify-content: space-between;
    padding-bottom: 16px;

    &__btn {
      background-image: url(../assets/icons/arrow.png);

      &:hover {
        background-image: url(../assets/icons/arrow-hover.png);
      }
    }
  }

  &-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 21px;
  }
}

.short-article {
  column-gap: 13px;
  cursor: pointer;
  display: flex;
  width: 259px;

  &-img {
    align-items: center;
    border-radius: 15px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;

    &_yellow {
      background-color: #fff0a5;
    }

    &_blue {
      background-color: #d6f5ff;
    }

    &_pink {
      background-color: #ffddf0;
    }

    &_green {
      background-color: #c1fff4;
    }

    &__img {
      transition: .5s;
      width: 70%;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: 13px;
      font-weight: 700;
      max-width: 191px;
    }
  }

  &:hover .short-article-img__img {
    transform: scale(1.1);
  }
}

.article {
  &-likes {
    align-items: center;
    background-color: #fff8d5;
    border-radius: 15px;
    column-gap: 6px;
    display: flex;
    justify-content: center;
    max-height: 23px;
    width: 55px;

    &__img {
      height: 60%;
      transition: .5s;
    }

    &__text {
      font-size: 12px;
      font-weight: 500;
    }

    &:hover .article-likes__img {
      transform: translateY(-4px);
    }
  }
}